<template name="UserSettingsProfile">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> UserSettingsProfileEditForm}}
	</div>
</template>

<template name="UserSettingsProfileEditForm">
	<div id="user-settings-profile-edit-form" class="">
		<h2 id="component-title">
			Edit your profile
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group field-profile-email">
				<label for="profile.email">
					E-mail
				</label>
				<div class="input-div">
					<input type="text" name="profile.email" value="{{current_user_data.profile.email}}" class="form-control " required="required" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-profile-firstName">
				<label for="profile.firstName">
					First Name
				</label>
				<div class="input-div">
					<input type="text" name="profile.firstName" value="{{current_user_data.profile.firstName}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-profile-lastName">
				<label for="profile.lastName">
					Last Name
				</label>
				<div class="input-div">
					<input type="text" name="profile.lastName" value="{{current_user_data.profile.lastName}}" class="form-control " required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-profile-cellPhone">
				<label for="profile.cellPhone">
					Cell Phone
				</label>
				<div class="input-div">
					<input type="text" name="profile.cellPhone" value="{{current_user_data.profile.cellPhone}}" class="form-control" data-type="number">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>

			<br>

			<div class="form-group field-profile-targetAudience">
				<label for="profile.targetAudience">
					Target Audience
				</label>
				<div class="input-div">
					<input type="text" name="profile.targetAudience" value="{{current_user_data.profile.targetAudience}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-profile-targetHashtag">
				<label for="profile.targetHashtag">
					Target Hashtag
				</label>
				<div class="input-div">
					<input type="text" name="profile.targetHashtag" value="{{current_user_data.profile.targetHashtag}}" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group field-profile-country">
				<label for="profile.country">
					Country
				</label>
				<div class="input-div">
					<select name="profile.country" class="form-control">
						<option value="">- Select Country -</option>
						<option {{countrySelected "AF"}} value="AF">Afghanistan</option>
						<option {{countrySelected "AX"}} value="AX">Åland Islands</option>
						<option {{countrySelected "AL"}} value="AL">Albania</option>
						<option {{countrySelected "DZ"}} value="DZ">Algeria</option>
						<option {{countrySelected "AS"}} value="AS">American Samoa</option>
						<option {{countrySelected "AD"}} value="AD">Andorra</option>
						<option {{countrySelected "AO"}} value="AO">Angola</option>
						<option {{countrySelected "AI"}} value="AI">Anguilla</option>
						<option {{countrySelected "AQ"}} value="AQ">Antarctica</option>
						<option {{countrySelected "AG"}} value="AG">Antigua and Barbuda</option>
						<option {{countrySelected "AR"}} value="AR">Argentina</option>
						<option {{countrySelected "AM"}} value="AM">Armenia</option>
						<option {{countrySelected "AW"}} value="AW">Aruba</option>
						<option {{countrySelected "AU"}} value="AU">Australia</option>
						<option {{countrySelected "AT"}} value="AT">Austria</option>
						<option {{countrySelected "AZ"}} value="AZ">Azerbaijan</option>
						<option {{countrySelected "BS"}} value="BS">Bahamas</option>
						<option {{countrySelected "BH"}} value="BH">Bahrain</option>
						<option {{countrySelected "BD"}} value="BD">Bangladesh</option>
						<option {{countrySelected "BB"}} value="BB">Barbados</option>
						<option {{countrySelected "BY"}} value="BY">Belarus</option>
						<option {{countrySelected "BE"}} value="BE">Belgium</option>
						<option {{countrySelected "BZ"}} value="BZ">Belize</option>
						<option {{countrySelected "BJ"}} value="BJ">Benin</option>
						<option {{countrySelected "BM"}} value="BM">Bermuda</option>
						<option {{countrySelected "BT"}} value="BT">Bhutan</option>
						<option {{countrySelected "BO"}} value="BO">Bolivia, Plurinational State of</option>
						<option {{countrySelected "BQ"}} value="BQ">Bonaire, Sint Eustatius and Saba</option>
						<option {{countrySelected "BA"}} value="BA">Bosnia and Herzegovina</option>
						<option {{countrySelected "BW"}} value="BW">Botswana</option>
						<option {{countrySelected "BV"}} value="BV">Bouvet Island</option>
						<option {{countrySelected "BR"}} value="BR">Brazil</option>
						<option {{countrySelected "IO"}} value="IO">British Indian Ocean Territory</option>
						<option {{countrySelected "BN"}} value="BN">Brunei Darussalam</option>
						<option {{countrySelected "BG"}} value="BG">Bulgaria</option>
						<option {{countrySelected "BF"}} value="BF">Burkina Faso</option>
						<option {{countrySelected "BI"}} value="BI">Burundi</option>
						<option {{countrySelected "KH"}} value="KH">Cambodia</option>
						<option {{countrySelected "CM"}} value="CM">Cameroon</option>
						<option {{countrySelected "CA"}} value="CA">Canada</option>
						<option {{countrySelected "CV"}} value="CV">Cape Verde</option>
						<option {{countrySelected "KY"}} value="KY">Cayman Islands</option>
						<option {{countrySelected "CF"}} value="CF">Central African Republic</option>
						<option {{countrySelected "TD"}} value="TD">Chad</option>
						<option {{countrySelected "CL"}} value="CL">Chile</option>
						<option {{countrySelected "CN"}} value="CN">China</option>
						<option {{countrySelected "CX"}} value="CX">Christmas Island</option>
						<option {{countrySelected "CC"}} value="CC">Cocos (Keeling) Islands</option>
						<option {{countrySelected "CO"}} value="CO">Colombia</option>
						<option {{countrySelected "KM"}} value="KM">Comoros</option>
						<option {{countrySelected "CG"}} value="CG">Congo</option>
						<option {{countrySelected "CD"}} value="CD">Congo, the Democratic Republic of the</option>
						<option {{countrySelected "CK"}} value="CK">Cook Islands</option>
						<option {{countrySelected "CR"}} value="CR">Costa Rica</option>
						<option {{countrySelected "CI"}} value="CI">Côte d'Ivoire</option>
						<option {{countrySelected "HR"}} value="HR">Croatia</option>
						<option {{countrySelected "CU"}} value="CU">Cuba</option>
						<option {{countrySelected "CW"}} value="CW">Curaçao</option>
						<option {{countrySelected "CY"}} value="CY">Cyprus</option>
						<option {{countrySelected "CZ"}} value="CZ">Czech Republic</option>
						<option {{countrySelected "DK"}} value="DK">Denmark</option>
						<option {{countrySelected "DJ"}} value="DJ">Djibouti</option>
						<option {{countrySelected "DM"}} value="DM">Dominica</option>
						<option {{countrySelected "DO"}} value="DO">Dominican Republic</option>
						<option {{countrySelected "EC"}} value="EC">Ecuador</option>
						<option {{countrySelected "EG"}} value="EG">Egypt</option>
						<option {{countrySelected "SV"}} value="SV">El Salvador</option>
						<option {{countrySelected "GQ"}} value="GQ">Equatorial Guinea</option>
						<option {{countrySelected "ER"}} value="ER">Eritrea</option>
						<option {{countrySelected "EE"}} value="EE">Estonia</option>
						<option {{countrySelected "ET"}} value="ET">Ethiopia</option>
						<option {{countrySelected "FK"}} value="FK">Falkland Islands (Malvinas)</option>
						<option {{countrySelected "FO"}} value="FO">Faroe Islands</option>
						<option {{countrySelected "FJ"}} value="FJ">Fiji</option>
						<option {{countrySelected "FI"}} value="FI">Finland</option>
						<option {{countrySelected "FR"}} value="FR">France</option>
						<option {{countrySelected "GF"}} value="GF">French Guiana</option>
						<option {{countrySelected "PF"}} value="PF">French Polynesia</option>
						<option {{countrySelected "TF"}} value="TF">French Southern Territories</option>
						<option {{countrySelected "GA"}} value="GA">Gabon</option>
						<option {{countrySelected "GM"}} value="GM">Gambia</option>
						<option {{countrySelected "GE"}} value="GE">Georgia</option>
						<option {{countrySelected "DE"}} value="DE">Germany</option>
						<option {{countrySelected "GH"}} value="GH">Ghana</option>
						<option {{countrySelected "GI"}} value="GI">Gibraltar</option>
						<option {{countrySelected "GR"}} value="GR">Greece</option>
						<option {{countrySelected "GL"}} value="GL">Greenland</option>
						<option {{countrySelected "GD"}} value="GD">Grenada</option>
						<option {{countrySelected "GP"}} value="GP">Guadeloupe</option>
						<option {{countrySelected "GU"}} value="GU">Guam</option>
						<option {{countrySelected "GT"}} value="GT">Guatemala</option>
						<option {{countrySelected "GG"}} value="GG">Guernsey</option>
						<option {{countrySelected "GN"}} value="GN">Guinea</option>
						<option {{countrySelected "GW"}} value="GW">Guinea-Bissau</option>
						<option {{countrySelected "GY"}} value="GY">Guyana</option>
						<option {{countrySelected "HT"}} value="HT">Haiti</option>
						<option {{countrySelected "HM"}} value="HM">Heard Island and McDonald Islands</option>
						<option {{countrySelected "VA"}} value="VA">Holy See (Vatican City State)</option>
						<option {{countrySelected "HN"}} value="HN">Honduras</option>
						<option {{countrySelected "HK"}} value="HK">Hong Kong</option>
						<option {{countrySelected "HU"}} value="HU">Hungary</option>
						<option {{countrySelected "IS"}} value="IS">Iceland</option>
						<option {{countrySelected "IN"}} value="IN">India</option>
						<option {{countrySelected "ID"}} value="ID">Indonesia</option>
						<option {{countrySelected "IR"}} value="IR">Iran, Islamic Republic of</option>
						<option {{countrySelected "IQ"}} value="IQ">Iraq</option>
						<option {{countrySelected "IE"}} value="IE">Ireland</option>
						<option {{countrySelected "IM"}} value="IM">Isle of Man</option>
						<option {{countrySelected "IL"}} value="IL">Israel</option>
						<option {{countrySelected "IT"}} value="IT">Italy</option>
						<option {{countrySelected "JM"}} value="JM">Jamaica</option>
						<option {{countrySelected "JP"}} value="JP">Japan</option>
						<option {{countrySelected "JE"}} value="JE">Jersey</option>
						<option {{countrySelected "JO"}} value="JO">Jordan</option>
						<option {{countrySelected "KZ"}} value="KZ">Kazakhstan</option>
						<option {{countrySelected "KE"}} value="KE">Kenya</option>
						<option {{countrySelected "KI"}} value="KI">Kiribati</option>
						<option {{countrySelected "KP"}} value="KP">Korea, Democratic People's Republic of</option>
						<option {{countrySelected "KR"}} value="KR">Korea, Republic of</option>
						<option {{countrySelected "KW"}} value="KW">Kuwait</option>
						<option {{countrySelected "KG"}} value="KG">Kyrgyzstan</option>
						<option {{countrySelected "LA"}} value="LA">Lao People's Democratic Republic</option>
						<option {{countrySelected "LV"}} value="LV">Latvia</option>
						<option {{countrySelected "LB"}} value="LB">Lebanon</option>
						<option {{countrySelected "LS"}} value="LS">Lesotho</option>
						<option {{countrySelected "LR"}} value="LR">Liberia</option>
						<option {{countrySelected "LY"}} value="LY">Libya</option>
						<option {{countrySelected "LI"}} value="LI">Liechtenstein</option>
						<option {{countrySelected "LT"}} value="LT">Lithuania</option>
						<option {{countrySelected "LU"}} value="LU">Luxembourg</option>
						<option {{countrySelected "MO"}} value="MO">Macao</option>
						<option {{countrySelected "MK"}} value="MK">Macedonia, the former Yugoslav Republic of</option>
						<option {{countrySelected "MG"}} value="MG">Madagascar</option>
						<option {{countrySelected "MW"}} value="MW">Malawi</option>
						<option {{countrySelected "MY"}} value="MY">Malaysia</option>
						<option {{countrySelected "MV"}} value="MV">Maldives</option>
						<option {{countrySelected "ML"}} value="ML">Mali</option>
						<option {{countrySelected "MT"}} value="MT">Malta</option>
						<option {{countrySelected "MH"}} value="MH">Marshall Islands</option>
						<option {{countrySelected "MQ"}} value="MQ">Martinique</option>
						<option {{countrySelected "MR"}} value="MR">Mauritania</option>
						<option {{countrySelected "MU"}} value="MU">Mauritius</option>
						<option {{countrySelected "YT"}} value="YT">Mayotte</option>
						<option {{countrySelected "MX"}} value="MX">Mexico</option>
						<option {{countrySelected "FM"}} value="FM">Micronesia, Federated States of</option>
						<option {{countrySelected "MD"}} value="MD">Moldova, Republic of</option>
						<option {{countrySelected "MC"}} value="MC">Monaco</option>
						<option {{countrySelected "MN"}} value="MN">Mongolia</option>
						<option {{countrySelected "ME"}} value="ME">Montenegro</option>
						<option {{countrySelected "MS"}} value="MS">Montserrat</option>
						<option {{countrySelected "MA"}} value="MA">Morocco</option>
						<option {{countrySelected "MZ"}} value="MZ">Mozambique</option>
						<option {{countrySelected "MM"}} value="MM">Myanmar</option>
						<option {{countrySelected "NA"}} value="NA">Namibia</option>
						<option {{countrySelected "NR"}} value="NR">Nauru</option>
						<option {{countrySelected "NP"}} value="NP">Nepal</option>
						<option {{countrySelected "NL"}} value="NL">Netherlands</option>
						<option {{countrySelected "NC"}} value="NC">New Caledonia</option>
						<option {{countrySelected "NZ"}} value="NZ">New Zealand</option>
						<option {{countrySelected "NI"}} value="NI">Nicaragua</option>
						<option {{countrySelected "NE"}} value="NE">Niger</option>
						<option {{countrySelected "NG"}} value="NG">Nigeria</option>
						<option {{countrySelected "NU"}} value="NU">Niue</option>
						<option {{countrySelected "NF"}} value="NF">Norfolk Island</option>
						<option {{countrySelected "MP"}} value="MP">Northern Mariana Islands</option>
						<option {{countrySelected "NO"}} value="NO">Norway</option>
						<option {{countrySelected "OM"}} value="OM">Oman</option>
						<option {{countrySelected "PK"}} value="PK">Pakistan</option>
						<option {{countrySelected "PW"}} value="PW">Palau</option>
						<option {{countrySelected "PS"}} value="PS">Palestinian Territory, Occupied</option>
						<option {{countrySelected "PA"}} value="PA">Panama</option>
						<option {{countrySelected "PG"}} value="PG">Papua New Guinea</option>
						<option {{countrySelected "PY"}} value="PY">Paraguay</option>
						<option {{countrySelected "PE"}} value="PE">Peru</option>
						<option {{countrySelected "PH"}} value="PH">Philippines</option>
						<option {{countrySelected "PN"}} value="PN">Pitcairn</option>
						<option {{countrySelected "PL"}} value="PL">Poland</option>
						<option {{countrySelected "PT"}} value="PT">Portugal</option>
						<option {{countrySelected "PR"}} value="PR">Puerto Rico</option>
						<option {{countrySelected "QA"}} value="QA">Qatar</option>
						<option {{countrySelected "RE"}} value="RE">Réunion</option>
						<option {{countrySelected "RO"}} value="RO">Romania</option>
						<option {{countrySelected "RU"}} value="RU">Russian Federation</option>
						<option {{countrySelected "RW"}} value="RW">Rwanda</option>
						<option {{countrySelected "BL"}} value="BL">Saint Barthélemy</option>
						<option {{countrySelected "SH"}} value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
						<option {{countrySelected "KN"}} value="KN">Saint Kitts and Nevis</option>
						<option {{countrySelected "LC"}} value="LC">Saint Lucia</option>
						<option {{countrySelected "MF"}} value="MF">Saint Martin (French part)</option>
						<option {{countrySelected "PM"}} value="PM">Saint Pierre and Miquelon</option>
						<option {{countrySelected "VC"}} value="VC">Saint Vincent and the Grenadines</option>
						<option {{countrySelected "WS"}} value="WS">Samoa</option>
						<option {{countrySelected "SM"}} value="SM">San Marino</option>
						<option {{countrySelected "ST"}} value="ST">Sao Tome and Principe</option>
						<option {{countrySelected "SA"}} value="SA">Saudi Arabia</option>
						<option {{countrySelected "SN"}} value="SN">Senegal</option>
						<option {{countrySelected "RS"}} value="RS">Serbia</option>
						<option {{countrySelected "SC"}} value="SC">Seychelles</option>
						<option {{countrySelected "SL"}} value="SL">Sierra Leone</option>
						<option {{countrySelected "SG"}} value="SG">Singapore</option>
						<option {{countrySelected "SX"}} value="SX">Sint Maarten (Dutch part)</option>
						<option {{countrySelected "SK"}} value="SK">Slovakia</option>
						<option {{countrySelected "SI"}} value="SI">Slovenia</option>
						<option {{countrySelected "SB"}} value="SB">Solomon Islands</option>
						<option {{countrySelected "SO"}} value="SO">Somalia</option>
						<option {{countrySelected "ZA"}} value="ZA">South Africa</option>
						<option {{countrySelected "GS"}} value="GS">South Georgia and the South Sandwich Islands</option>
						<option {{countrySelected "SS"}} value="SS">South Sudan</option>
						<option {{countrySelected "ES"}} value="ES">Spain</option>
						<option {{countrySelected "LK"}} value="LK">Sri Lanka</option>
						<option {{countrySelected "SD"}} value="SD">Sudan</option>
						<option {{countrySelected "SR"}} value="SR">Suriname</option>
						<option {{countrySelected "SJ"}} value="SJ">Svalbard and Jan Mayen</option>
						<option {{countrySelected "SZ"}} value="SZ">Swaziland</option>
						<option {{countrySelected "SE"}} value="SE">Sweden</option>
						<option {{countrySelected "CH"}} value="CH">Switzerland</option>
						<option {{countrySelected "SY"}} value="SY">Syrian Arab Republic</option>
						<option {{countrySelected "TW"}} value="TW">Taiwan, Province of China</option>
						<option {{countrySelected "TJ"}} value="TJ">Tajikistan</option>
						<option {{countrySelected "TZ"}} value="TZ">Tanzania, United Republic of</option>
						<option {{countrySelected "TH"}} value="TH">Thailand</option>
						<option {{countrySelected "TL"}} value="TL">Timor-Leste</option>
						<option {{countrySelected "TG"}} value="TG">Togo</option>
						<option {{countrySelected "TK"}} value="TK">Tokelau</option>
						<option {{countrySelected "TO"}} value="TO">Tonga</option>
						<option {{countrySelected "TT"}} value="TT">Trinidad and Tobago</option>
						<option {{countrySelected "TN"}} value="TN">Tunisia</option>
						<option {{countrySelected "TR"}} value="TR">Turkey</option>
						<option {{countrySelected "TM"}} value="TM">Turkmenistan</option>
						<option {{countrySelected "TC"}} value="TC">Turks and Caicos Islands</option>
						<option {{countrySelected "TV"}} value="TV">Tuvalu</option>
						<option {{countrySelected "UG"}} value="UG">Uganda</option>
						<option {{countrySelected "UA"}} value="UA">Ukraine</option>
						<option {{countrySelected "AE"}} value="AE">United Arab Emirates</option>
						<option {{countrySelected "GB"}} value="GB">United Kingdom</option>
						<option {{countrySelected "US"}} value="US">United States</option>
						<option {{countrySelected "UM"}} value="UM">United States Minor Outlying Islands</option>
						<option {{countrySelected "UY"}} value="UY">Uruguay</option>
						<option {{countrySelected "UZ"}} value="UZ">Uzbekistan</option>
						<option {{countrySelected "VU"}} value="VU">Vanuatu</option>
						<option {{countrySelected "VE"}} value="VE">Venezuela, Bolivarian Republic of</option>
						<option {{countrySelected "VN"}} value="VN">Viet Nam</option>
						<option {{countrySelected "VG"}} value="VG">Virgin Islands, British</option>
						<option {{countrySelected "VI"}} value="VI">Virgin Islands, U.S.</option>
						<option {{countrySelected "WF"}} value="WF">Wallis and Futuna</option>
						<option {{countrySelected "EH"}} value="EH">Western Sahara</option>
						<option {{countrySelected "YE"}} value="YE">Yemen</option>
						<option {{countrySelected "ZM"}} value="ZM">Zambia</option>
						<option {{countrySelected "ZW"}} value="ZW">Zimbabwe</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>

			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

