<template name="notFound">
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">???</li>
				</ul>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
	<div class="container">
		<div class="box-gray aligncenter">
			<h1>404 - Lost in space?</h1>
			<h4>Page not found. Please check if the page url you entered correctly</h4>
			<br>
			<a href="/" class="btn btn-large btn-theme">Back to HOME</a>
		</div>
	</div>
	</section>
</template>
