<!-- <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />	<title>
		Status Pilot
	</title>
</head> -->
<head>
	<meta charset="utf-8">
	<title>Status Pilot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://aniskhan001.me" />
	<!-- Stylesheets -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="/css/jcarousel.css" rel="stylesheet" />
	<link href="/css/flexslider.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />

	<!-- Theme skin -->
	<link href="/css/skins/default.css" rel="stylesheet" />
</head>

<template name="layout">
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><span>Status</span>Pilot</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li class="{{menuItemClass '/'}}"><a href="/">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Features <b class=" icon-angle-down"></b></a>
								<ul class="dropdown-menu">
									<li><a href="typography.html">Typography</a></li>
									<li><a href="components.html">Components</a></li>
									<li><a href="pricingbox.html">Pricing box</a></li>
								</ul>
							</li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
							
							{{#if isPrivateZone}}
							<li class="dropdown {{menuItemClass 'admin'}}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-user" aria-hidden="true"></i> {{userName}} <i class="fa fa-chevron-down" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu">
									<li id="menu-item-simple">
										<a href="{{pathFor 'admin'}}">
											<span class="fa fa-wrench"></span>
											<span class="item-title">Manage Users</span>
										</a>
									</li>
									<li>
										<a href="{{pathFor 'user_settings'}}"><span class="item-title">Settings</span></a>
									</li>
									<li>
										<a href="{{pathFor 'logout'}}"><span class="item-title">Logout</span></a>
									</li>
								</ul>
							</li>
							{{else}}
							
							<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
								<a href="{{pathFor 'register'}}"><span class="item-title">Register</span></a>
							</li>
							<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
								<a href="{{pathFor 'login'}}"><span class="item-title">Login</span></a>
							</li>
							
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</header>

		{{#if isPrivateZone}}
			{{> PrivateLayout privateData}}
		{{else}}
			{{> PublicLayout publicData}}
		<!-- end header -->
		<section id="featured">
		<!-- start slider -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
		<!-- Slider -->
			<div id="main-slider" class="flexslider">
				<ul class="slides">
				  <li>
					<img src="img/slides/1.jpg" alt="" />
					<div class="flex-caption">
						<h3>Modern Design</h3> 
						<p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
						<a href="#" class="btn btn-theme">Learn More</a>
					</div>
				  </li>
				  <li>
					<img src="img/slides/2.jpg" alt="" />
					<div class="flex-caption">
						<h3>Fully Responsive</h3> 
						<p>Sodales neque vitae justo sollicitudin aliquet sit amet diam curabitur sed fermentum.</p> 
						<a href="#" class="btn btn-theme">Learn More</a>
					</div>
				  </li>
				  <li>
					<img src="img/slides/3.jpg" alt="" />
					<div class="flex-caption">
						<h3>Clean & Fast</h3> 
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p> 
						<a href="#" class="btn btn-theme">Learn More</a>
					</div>
				  </li>
				</ul>
			</div>
		<!-- end slider -->
				</div>
			</div>
		</div>	
		
		

		</section>
		<section class="callaction">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2><span>Moderna</span> HTML Business Template</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Fully responsive</h4>
									<div class="icon">
									<i class="fa fa-desktop fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>
										
								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Modern Style</h4>
									<div class="icon">
									<i class="fa fa-pagelines fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>
										
								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Customizable</h4>
									<div class="icon">
									<i class="fa fa-edit fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>
										
								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="box">
								<div class="box-gray aligncenter">
									<h4>Valid HTML5</h4>
									<div class="icon">
									<i class="fa fa-code fa-3x"></i>
									</div>
									<p>
									 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
									</p>
										
								</div>
								<div class="box-bottom">
									<a href="#">Learn more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- divider -->
			<div class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div>
			<!-- end divider -->
			<!-- Portfolio Projects -->
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading">Recent Works</h4>
					<div class="row">
						<section id="projects">
						<ul id="thumbs" class="portfolio">
							<!-- Item Project and Filter Name -->
							<li class="col-lg-3 design" data-id="id-0" data-type="web">
							<div class="item-thumbs">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img src="img/works/1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</div>
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="img/works/2.jpg">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img src="img/works/2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="img/works/3.jpg">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img src="img/works/3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="img/works/4.jpg">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img src="img/works/4.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
						</ul>
						</section>
					</div>
				</div>
			</div>

		</div>
		</section>
		{{/if}}
		{{> siteFooter}}
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

	<!-- JS files -->
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.fancybox-media.js"></script>
	<script src="js/google-code-prettify/prettify.js"></script>
	<script src="js/portfolio/jquery.quicksand.js"></script>
	<script src="js/portfolio/setting.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
</template>

<template name="PublicLayout">
	{{> yield}}
</template>

<template name="PrivateLayout">
	<div id="content" class="sticky-wrapper">
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
</template>

